////////////////////////////////////////////////////////////////////////////////
// Main Menu CSS Style                                                        //
////////////////////////////////////////////////////////////////////////////////

// Basic imports
@import "../definition.scss";
@import "../mixins.scss";

.main-menu {
	--background-width: 0;
	--background-height: 0;
	@include fade("main-menu", true);
	@include obj(null, 0, 0, $main-menu-z-index);
	// FIXME: I'm still going to decide if I will put this or not.
	// background-image: var(--background-image);
	// background-size: var(--background-width) var(--background-height);
	// background-repeat: repeat;
	width: $screen-width;
	height: $screen-height;
	display: flex;
	// FIXME: I'm still going to decide if I will put this or not.
	// animation: main-menu-background-image 1024ms linear infinite;
	// @keyframes main-menu-background-image {
	// 	0% {
	// 		background-position: 0px 0px;
	// 	}
	// 	100% {
	// 		background-position:
	// 			calc(var(--background-width) * -1)
	// 			calc(var(--background-height) * -1);
	// 	}
	// }
}

.menu-window {
	background-image: var(--background-image);
	background-size: var(--width) var(--height);
	background-repeat: repeat;
	width: var(--width);
	height: var(--height);
	margin: auto;
	position: relative;
}
