////////////////////////////////////////////////////////////////////////////////
// Main Profile CSS Style                                                     //
////////////////////////////////////////////////////////////////////////////////

// Basic imports
@import "../definition.scss";
@import "../mixins.scss";

.main-screen {
	background-image: var(--background-image);
	background-position: center;
	background-size: cover;
	width: $screen-width;
	height: $screen-height;
	margin: auto;
	overflow: hidden;
	position: relative;
}
