//----------------------------------------------------------------------------//
//-                          TEMPLATE OF THE MARKUP                          -//
//----------------------------------------------------------------------------//

doctype html
html(lang=lang)
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content=description)
		meta(property="og:image" content="./assets/images/profile-banner.png")
		meta(property="og:image:type" content="image/png")
		meta(property="og:image:width" content="1446")
		meta(property="og:image:height" content="1088")
		title Takane Ichinose | Personal Profile
		link(rel="icon" href="./images/profile-favicon.ico")
		link(rel="stylesheet" href="./styles/index.scss")
		script.
			console.clear();
	body
		#app
		script(type="module" src="./scripts/index.tsx") 
