////////////////////////////////////////////////////////////////////////////////
// Definitions of variables or constants                                      //
////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////
// z-index guide                                                              //
////////////////////////////////////////////////////////////////////////////////

$loading-screen-z-index: 100;
$main-menu-z-index: 99;
$speech-dialog-z-index: 98;
$instructions-z-index: 98;
$object-hover-z-index: 50;

////////////////////////////////////////////////////////////////////////////////
// Variables for easy access                                                  //
////////////////////////////////////////////////////////////////////////////////

$screen-width: 100vmin;
$screen-height: $screen-width * 3 / 4; // 4:3 aspect ratio

$max-screen-width: 768px;
$max-screen-height: $max-screen-width * 3 / 4; // 4:3 aspect ratio

// Transition time in displaying the menu or the speech dialog
$display-time: 128ms;

// This is just for debugging the location of objects
$debug-object: false;
