@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nosutaru-dot;
  src: url('/assets/fonts/Nosutaru-dotMPlusH-10-Regular.ttf');
}

body {
  font-family: nosutaru-dot, Courier, monospace;
}
