- const lang = "en";
- const description = "Personal profile of Takane Ichinose. My skills, and my work experience is written here. I'm a web developer, but also interested in making games.";

include ./includes/template.pug
